<section id="register">
<div class="hgroup">
    <h1>Register</h1>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> <span class="divider">/</span></li>
         <li class="active">Register</li>
    </ul>
</div>
<div class="row">
  <div class="signin col-md-6 col-md-offset-3">
<div class="social_sign">
<h3>Don't have an {my}edify account yet?</h3>
</div>
<p class="sign_title">Create one now, it's fast & free!</p>

          <div class="form">
            <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-vertical"}) do |f| %>
              <%= f.error_notification %>
              <%= display_base_errors resource %>
            <%= f.text_field :name, :autofocus => true, :placeholder => "Name", :class=>"input-xlarge" %>
            <%= f.text_field :email, :required => true, :placeholder => "Email", :class=>"input-xlarge" %>
            <%= f.password_field :password, :required => true, :placeholder => "Password", :class=>"input-xlarge" %>
            <%= f.password_field :password_confirmation, :required => true, :placeholder => "Confirm Password", :class=>"input-xlarge" %>
            <br/><br/>
            <%= f.button :submit, "Create your account", :class => 'btn btn-primary btn-large' %>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
  </div>
</div>
</section>