<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Thank you for your donation via {my}edify to Edify</title>
  </head>
  <body>
      <p>Dear <%= @user.name %></p>
      
      <p>Thank you for your generous donation via {my}edify to support the on-going work of Edify.</p>
      
      <p>Your donation will help expand our programs in sustainable, affordable Christ-centered schools in Ghana, Rwanda, 
      Burkina Faso, Liberia, Peru and the Dominican Republic.</p>
      
      <p>Kind Regards,</p>
      
      <p>The {my}edify Team</p>
      
      <p><%= simple_format(@ctr) %></p>
      
      <p><em>Edify is a 501(c)3 nonprofit organization, Federal Tax ID# 27-0892545<br/>
      No goods or services were received in consideration of this gift.</em></p>
      
      <p>Edify - 10590 W. Ocean Air Dr.,Ste 300 - San Diego, CA 92130 - toll free: 855-GO-EDIFY</p>
  </body>
</html>

