A Donation was successfully processed through the {my}edify Donation Form.
Donor: <%= @user.name %>
Donation Date: <%= @donation.donated_at %>.
Donation Amount: $<%= @donation.total_amount %>

Billing Information:
Full Name: <%= @donation.billing_first %> <%= @donation.billing_last %>
Email: <%= @user.email %>
Address: <%= @donation.billing_address %>
City: <%= @donation.billing_city %>
State: <%= @donation.billing_state %>
ZIP: <%= @donation.billing_zip %>

<%= @ctr %>