Dear <%= @user.name %>

Thank you for your generous donation via {my}edify to support the on-going work of Edify.

Your donation will help expand our programs in sustainable, affordable Christ-centered schools in Ghana, Rwanda, Burkina Faso, Liberia, Peru and the Dominican Republic.

Kind Regards,

The {my}edify Team

<%= @ctr %>

Edify is a 501(c)3 nonprofit organization, Federal Tax ID# 27-0892545
No goods or services were received in consideration of this gift.

Edify - 10590 W. Ocean Air Dr.,Ste 300 - San Diego, CA 92130 - toll free: 855-GO-EDIFY