<%= simple_form_for(@fundraiser) do |f| %>
  <%= f.error_notification %>
Details:
  <div class="form-inputs">
Name your fundraiser:     <%= f.input :name %><br/>
Choose a URL: <em>myedify.org/fundraisers/</em><%= f.input :friendly_url %><br/>
Set a fundraising goal: $<%= f.input :goal_amount_cents %><br/>
Time Frame: <em>My fundraiser will end <%= f.input :time_in_days %> days from now.</em><br/>
    <%= f.input :category, :collection => [['Birthday','birthday'],['Sports Event (ex. Marathon)','sports_event'],['School Fundraiser','school_fundraiser'],['Church Fundraiser','church_fundraiser'],['Special Occasion (ex. Wedding)','occasion'],['Holiday (ex. Christmas)','holiday'],['Other','other']], class: 'form-control' %>
    <%= f.text_area :motivation, :rows => '8', class: 'form-control' %>
    
    <%= f.input :end_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
