<section class="hgroup" id="portfolio">
<div class="container">
    <h1>Fundraisers</h1>
    <h2><strong>Engage</strong> your friends and family in the work of Edify!</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Fundraisers</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">    
    <%= render 'form' %>
    
    <%= link_to 'View', @fundraiser %>
  </div>
</section>

