<h1>Listing fundraisers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Friendly url</th>
    <th>Name</th>
    <th>Goal amount cents</th>
    <th>Category</th>
    <th>Motivation</th>
    <th>Time in days</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fundraisers.each do |fundraiser| %>
  <tr>
    <td><%= fundraiser.user_id %></td>
    <td><%= fundraiser.friendly_url %></td>
    <td><%= fundraiser.name %></td>
    <td><%= fundraiser.goal_amount_cents %></td>
    <td><%= fundraiser.category %></td>
    <td><%= fundraiser.motivation %></td>
    <td><%= fundraiser.time_in_days %></td>
    <td><%= fundraiser.end_date %></td>
    <td><%= link_to 'Show', fundraiser %></td>
    <td><%= link_to 'Edit', edit_fundraiser_path(fundraiser) %></td>
    <td><%= link_to 'Destroy', fundraiser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fundraiser', new_fundraiser_path %>
