<section class="hgroup" id="portfolio">
<div class="container">
    <h1>Fundraisers</h1>
    <h2><strong>Engage</strong> your friends and family in the work of Edify!</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Fundraisers</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">
  
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Goal Amount</th>
      <th>Friendly url</th>
      <th>Category</th>
      <th>Headline</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
  <% @fundraisers.each do |fundraiser| %>
    <tr>
      <td><%= fundraiser.name %></td>
      <td><%= fundraiser.headline %></td>
      <td><%= fundraiser.goal_amount_cents %></td>
      <td><%= fundraiser.friendly_url %></td>
      <td><%= fundraiser.category %></td>
      <td><%= fundraiser.end_date %></td>
      <td><%= link_to 'Show', fundraiser %></td>
      <td><%= link_to 'Edit', edit_fundraiser_path(fundraiser) %></td>
      <td><%= link_to 'Destroy', fundraiser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  
  <br />
  
  <%= link_to 'New Fundraiser', new_fundraiser_path %>
  </div>
</section>