<section class="hgroup" id="about_us">
<div class="container">
    <h1>Create a Fundraiser</h1>
    <h2>Further the work of <strong>Edify</strong> by creating a fundraiser.</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Fundraisers</li>
    </ul>
</div>
</section>

<section class="article-text">
  <div class="container">
    <div class="row">
    <div class="col-md-12 fuelux">
    
    <%= simple_form_for(@fundraiser, html: { class: "directUpload" }) do |f| %>
    <%= f.error_notification %>
  
    <div class="wizard col-md-6 col-md-offset-3" data-initialize="wizard" id="#new-fundraiser">
      <div class="steps-container">
        <ul class="steps">
          <li data-step="1" data-name="campaign" class="active"><span class="badge">1</span><span class="chevron"></span></li>
          <li data-step="2"><span class="badge">2</span><span class="chevron"></span></li>
          <li data-step="3" data-name="template"><span class="badge">3</span><span class="chevron"></span></li>
        </ul>
      </div>
      <div class="actions">
        <button type="button" class="btn btn-default btn-prev"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
        <button type="button" class="btn btn-default btn-next" data-last="Complete">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
      <div class="step-content">
        <div class="step-pane active sample-pane alert" data-step="1">
          <h4>Get Started!</h4>
          <p>
          Name your fundraiser:
          <%= f.text_field :name, :required => true, class: 'form-control' %><br/>
          Choose a URL: <em>myedify.org/fundraisers/</em>
          <%= f.text_field :friendly_url, :required => true, class: 'form-control' %><br/>
          Set a fundraising goal: 
          <div class="input-group col-md-4">
            <span class="input-group-addon">$</span>
            <input class="form-control" id="goal_amount" name="goal_amount" required="required" size="30" type="text", placeholder="350">
            <span class="input-group-addon">.00</span>
          </div><br/>
          Choose End Date: <br/>
          <%= f.date_select :end_date %><br/><br/>
          <%= f.input :category, :collection => [['Birthday','birthday'],['Sports Event (ex. Marathon)','sports_event'],['School Fundraiser','school_fundraiser'],['Church Fundraiser','church_fundraiser'],['Special Occasion (ex. Wedding)','occasion'],['Holiday (ex. Christmas)','holiday'],['Other','other']], class: 'form-control' %>
          </p>
          <br>
<!--           <span class="btn btn-block btn-primary" class="btnWizardNext">Continue</span> -->
        </div>
        <div class="step-pane sample-pane" data-step="2">
          <h4>Choose a Photo</h4>

    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Upload Photo</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fundraiser_photo_url" name="fundraiser[photo_url]" type="file">
    </span>
<!--
          <p><div class="field">
              < %= f.file_field :photo_url %>
            </div>
          </p>
-->
          <br>
<!--           <span class="btn btn-block btn-primary" class="btnWizardNext">Continue</span> -->
        </div>
        <div class="step-pane sample-pane" data-step="3">
          <h4>Write a Mission Statement</h4>
          <p><%= f.text_area :motivation, :rows => '8', class: 'form-control' %></p>
            <div class="row">
            <div class="col-sm-4">
              <a class="btn btn-block btn-default">Example 1</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-block btn-default">Example 2</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-block btn-default">Custom</a>
            </div>
          </div>
          <br/>
        <div class="form-actions">
          <%= f.button :submit, :class=>"btn btn-block btn-success col-md-5", :value => "Create Fundraiser", :id => "create_button" %>
        </div>
        </div>
      </div>
    
    </div>

    <% end %> <%# form %>
    </div>
    
    </div>
    <section class="call_to_action">
      <i class="fa fa-bullhorn fa-4x text-muted"></i>
    </section>


  </div>
</section>


<% content_for :jit_header do %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/fuelux.min.css">
<% end %>

<% content_for :footer_scripts do %>
<script src="/js/wizard.js"></script>
<script type="text/javascript">
$('#new-fundraiser').wizard();
	$('.btnWizardNext').on('click', function () {
		$('#new-fundraiser').wizard('next');
	});
</script>

<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/additional-methods.min.js"></script>
<script type="text/javascript" src="/js/autoNumeric.js"></script>
<% end %>

<script type="text/javascript">
jQuery(function($) {
  $('#goal_amount').autoNumeric('init',{vMax: '999999.99'});    
});

$(function(){
  //custom validator for money fields
  $.validator.addMethod("money", function (value, element) {
     return this.optional(element) || value.match(/^\d+(.(\d{2}))?/);
  }, "Please provide a valid dollar amount without decimal places)<br/><strong>DO NOT</strong> include a dollar ($) sign.");

  $("#new_fundraiser").validate({
    rules: {
      "goal_amount": {
        required: true,
        money: true },
      "fundraiser[name]": "required",
      "fundraiser[friendly_url]": "required"
    },
    errorClass: "text-error",
    validClass: "text-success",
    submitHandler: function(form) {
      $("#create_button").prop("disabled",true);
            var v = $('#goal_amount').autoNumeric('get');
            $('#goal_amount').autoNumeric('destroy');
            $('#goal_amount').val(v);
      form.submit();
    }    
  });
});
$(function() {
  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    fileInput.after(barContainer);
    fileInput.fileupload({
      fileInput:       fileInput,
      url:             '<%= @s3_direct_post.url %>',
      type:            'POST',
      autoUpload:       true,
      formData:         <%= @s3_direct_post.fields.to_json.html_safe %>,
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.css('width', progress + '%')
      },
      start: function (e) {
        submitButton.prop('disabled', true);

        progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.text("Uploading done");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = '//<%= @s3_direct_post.url.host %>/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
        form.append(input);
      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);

        progressBar.
          css("background", "red").
          text("Failed");
      }
    });
  });
});

$(function() {
  var example_motivation_1 = 'Edify makes loans to financially sustainable, Christ-centered schools in Africa and Latin America. These schools typically charge fees that are affordable to parents making only a few dollars per day. With these fees, the schools pay all their teachers, cooks, bookkeepers, as well as the owners\/operators. The schools are fully financially sustainable and receive no money from governments. Schools repay Edify\'s loans. The funds are recycled as loans to other schools to build more classrooms and improve infrastructure. These humble private schools provide much better education than the overwhelmed public schools where teachers are often absent.';
  $('#fundraiser_motivation').val(example_motivation_1); 
});


</script>