<section class="article-text">
<div class="container">
  <div class="row">
    <div class="col-md-9">
    <h1><%= @fundraiser.name %></h1>
    <p>
      <% if @fundraiser.photo_url.blank? %>
      <img align="left" alt="Fundraiser_header_1" class="img-thumbnail" src="/images/fundraiser_header_1.jpg" style="margin-right: 10px" width="480">
      <% else %>
      <%= image_tag @fundraiser.photo_url, :width => 480, :align => 'left', :class => "img-thumbnail", :style => 'margin-right: 10px' %>
      <% end %>
      <%= simple_format(@fundraiser.motivation) %>
    </p>
    <h3>About Edify</h3>
    <p>
      At Edify believe that educating the poor is the greatest opportunity for transformation in the developing world.  
      A young person with book smarts and life skills can create a small business or find employment that will lift his or her family out of poverty; 
      a young person grounded in a Christ-centered faith will develop the moral foundation necessary to transform a culture and remake a society.  
      With a dedication to serving the poor, Edify works to increase access to Christ-centered education and improve the quality and relevancy of what’s taught in Christ-centered schools.
    </p>
    </div>
  
    <div class="col-md-3">
      <h3>Join in!</h3>      
      <i class="fa fa-calendar"></i> <%= @fundraiser.created_at.strftime("%b. %d, %Y") %> - <%= @fundraiser.end_date.strftime("%b. %d, %Y") %>
      <h4><%= distance_of_time_in_words_to_now(@fundraiser.end_date) %>  to go!</h4>
      <p>
        <b>Amount raised:</b>
        <% if @donations.blank? %>
        $0
        <% else %>
        <%= number_to_currency(@amount_raised, precision: 0) %>
        <% end %>
      </p>
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="<%= @percent_complete %>%" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percent_complete %>%;">
          <%= number_with_precision(@percent_complete, precision: 0) %>%
        </div>
      </div>
      <p>
        <b>Goal amount:</b>
        $<%= @fundraiser.goal_amount_cents.blank? ? '' : @fundraiser.goal_amount_cents / 100 %>
      </p>
  
      <p>
        <b>Category:</b>
        <%= @fundraiser.category %>
      </p>
  
      <label class="radio">
        <input type="radio" name="donation_options" id="donation25" value="25.00">
        $25
      </label>
      <label class="radio">
        <input type="radio" name="donation_options" id="donation50" value="50.00">
        $50
      </label>
      <label class="radio">
        <input type="radio" name="donation_options" id="donation100" value="100.00" checked>
        $100
      </label>
      <label class="radio">
        <input type="radio" name="donation_options" id="donation150" value="150.00">
        $150
      </label>
      <label class="radio">
        <input type="radio" name="donation_options" id="donation_user_amount" value="user_amount">
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input type="text" name="gift_amount" id="gift_amount" placeholder="Enter gift amount">
          </div>
          <div class="clr"></div>
      </label>
      <button class="btn btn-block btn-success" id="donate_button">Contribute to Fundraiser</button>
      <hr/>
      <% if @donations.blank? %>
      Be the first to join in this fundraiser!
      <% else %>
        <% @donations.each do |donation| %>
        <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="#">
              <%= image_tag 'edify_logo_greybg_64x64.png', :class => "media-object img-circle", :width => 64 %>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= donation.donated_at.strftime("%d-%b-%Y") %></h4>
              One person supported <%= @fundraiser.name %> fundraiser.
            </div>
          </li>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :jit_header do %>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
<script type="text/javascript" src="/js/autoNumeric.js"></script>
<% end %>

<script type="text/javascript">
 $('#donate_button').click(function(){
   var donationAmount = $('input[name=donation_options]:checked').val();
   if(donationAmount==='user_amount'){
     giftAmount = $('#gift_amount').val();
   } else {
     giftAmount = donationAmount;
   }
   window.location.href = "/donations/fundraiser?fundraiser_id=<%=@fundraiser.id%>&gift_amount="+giftAmount;
 });

jQuery(function($) {
  $('#gift_amount').autoNumeric('init',{vMax: '999999.99'});
});

$(function(){
  //custom validator for money fields
  $.validator.addMethod("money", function (value, element) {
     return this.optional(element) || value.match(/^\d+(.(\d{2}))?/);
  }, "Please provide a valid dollar amount (up to 2 decimal places)<br/><strong>DO NOT</strong> include a dollar ($) sign.");
});
</script>
