/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *




*/
/* line 17, ../../app/assets/stylesheets/application.css.scss */
#map img {
  max-width: none;
}

/* line 20, ../../app/assets/stylesheets/application.css.scss */
#map label {
  width: auto;
  display: inline;
}
/*
 * Table
 */
/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable {
  margin: 0 auto;
  clear: both;
  width: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable thead th {
  padding: 3px 18px 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  *cursor: hand;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable td {
  padding: 3px 10px;
}

/* line 31, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable td.center,
table.dataTable td.dataTables_empty {
  text-align: center;
}

/* line 35, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tr.odd {
  background-color: #E2E4FF;
}

/* line 36, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tr.even {
  background-color: white;
}

/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tr.odd td.sorting_1 {
  background-color: #D3D6FF;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tr.odd td.sorting_2 {
  background-color: #DADCFF;
}

/* line 40, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tr.odd td.sorting_3 {
  background-color: #E0E2FF;
}

/* line 41, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tr.even td.sorting_1 {
  background-color: #EAEBFF;
}

/* line 42, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tr.even td.sorting_2 {
  background-color: #F2F3FF;
}

/* line 43, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable tr.even td.sorting_3 {
  background-color: #F9F9FF;
}

/*
 * Table wrapper
 */
/* line 49, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
}

/*
 * Page length menu
 */
/* line 59, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.dataTables_length {
  float: left;
}

/*
 * Filter
 */
/* line 67, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.dataTables_filter {
  float: right;
  text-align: right;
}

/*
 * Table information
 */
/* line 76, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.dataTables_info {
  clear: both;
  float: left;
}

/*
 * Pagination
 */
/* line 85, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.dataTables_paginate {
  float: right;
  text-align: right;
}

/* Two button pagination - previous / next */
/* line 94, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #111 !important;
}

/* line 104, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
  text-decoration: none !important;
}

/* line 110, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
  outline: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666 !important;
}

/* line 119, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_disabled_previous,
.paginate_enabled_previous {
  padding-left: 23px;
}

/* line 123, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_disabled_next,
.paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px;
}

/* line 128, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_enabled_previous {
  background: url(/assets/dataTables/back_enabled.png) no-repeat top left;
}

/* line 129, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_enabled_previous:hover {
  background: url(/assets/dataTables/back_enabled_hover.png) no-repeat top left;
}

/* line 130, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_disabled_previous {
  background: url(/assets/dataTables/back_disabled.png) no-repeat top left;
}

/* line 132, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_enabled_next {
  background: url(/assets/dataTables/forward_enabled.png) no-repeat top right;
}

/* line 133, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_enabled_next:hover {
  background: url(/assets/dataTables/forward_enabled_hover.png) no-repeat top right;
}

/* line 134, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paginate_disabled_next {
  background: url(/assets/dataTables/forward_disabled.png) no-repeat top right;
}

/* Full number pagination */
/* line 137, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paging_full_numbers {
  height: 22px;
  line-height: 22px;
}

/* line 141, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paging_full_numbers a:active {
  outline: none;
}

/* line 144, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paging_full_numbers a:hover {
  text-decoration: none;
}

/* line 149, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
}

/* line 161, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paging_full_numbers a.paginate_button {
  background-color: #ddd;
}

/* line 165, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important;
}

/* line 170, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.paging_full_numbers a.paginate_active {
  background-color: #99B3FF;
}

/*
 * Processing indicator
 */
/* line 178, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}

/*
 * Sorting
 */
/* line 198, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.sorting {
  background: url(/assets/dataTables/sort_both.png) no-repeat center right;
}

/* line 199, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.sorting_asc {
  background: url(/assets/dataTables/sort_asc.png) no-repeat center right;
}

/* line 200, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.sorting_desc {
  background: url(/assets/dataTables/sort_desc.png) no-repeat center right;
}

/* line 202, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.sorting_asc_disabled {
  background: url(/assets/dataTables/sort_asc_disabled.png) no-repeat center right;
}

/* line 203, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.sorting_desc_disabled {
  background: url(/assets/dataTables/sort_desc_disabled.png) no-repeat center right;
}

/* line 206, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

/*
 * Scrolling
 */
/* line 214, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.dataTables_scroll {
  clear: both;
}

/* line 218, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.css.scss */
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
/* line 1, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
div.dataTables_length label {
  float: left;
  text-align: left;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
div.dataTables_length select {
  width: 75px;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
div.dataTables_filter label {
  float: right;
}

/* line 14, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
div.dataTables_info {
  padding-top: 8px;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
div.dataTables_paginate {
  float: right;
  margin: 0;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
table.dataTable {
  clear: both;
  margin-bottom: 6px !important;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}

/* line 37, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting {
  background: url(/assets/dataTables/sort_both.png) no-repeat center right;
}

/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting_asc {
  background: url(/assets/dataTables/sort_asc.png) no-repeat center right;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting_desc {
  background: url(/assets/dataTables/sort_desc.png) no-repeat center right;
}

/* line 41, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting_asc_disabled {
  background: url(/assets/dataTables/sort_asc_disabled.png) no-repeat center right;
}

/* line 42, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting_desc_disabled {
  background: url(/assets/dataTables/sort_desc_disabled.png) no-repeat center right;
}

/* line 44, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
table.dataTable th:active {
  outline: none;
}

/* fixes for TableTools */
/* line 49, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
.DTTT_dropdown {
  z-index: 2002;
}

/* line 51, ../../../../../.rvm/gems/ruby-1.9.3-p448@edify-donor/bundler/gems/jquery-datatables-rails-494f752b8eb8/vendor/assets/stylesheets/dataTables/jquery.dataTables.bootstrap.css.scss */
.DTTT_dropdown li {
  position: relative;
}
.map_container {
/*
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
*/
  height: 600px;
  width: 100%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gmaps4rails_map {
  width: auto;
  height: 600px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}
