.tourcontrols{
	width:270px;
	background:rgba(0,0,0,0.60);
	color:#fff;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	z-index:9999;
}
.close{
	position:absolute;
	top:6px;
	right:7px;
	width:10px;
	height:10px;
	background:#000 url(../images/close.gif) no-repeat center center;
	cursor:pointer;
}
.tourcontrols a {
	font-size:11px;
	color:#f0f0f0;
	cursor:pointer;
	font-weight:normal;
	text-decoration:underline;
}
.tourcontrols a:hover{
	color:#fff;
}
.close{
	position:absolute;
	top:6px;
	right:7px;
	width:10px;
	height:10px;
	background:#000 url(../images/close.gif) no-repeat center center;
	cursor:pointer;
}
.tourcontrols p{
	padding:10px;
}