<style>
    .school_map {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .school_map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
<div class="school_map">
<iframe src="https://myedify.org/iframe_map" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>