<section class="hgroup" id="about_us">
<div class="container">
    <h1>Users</h1>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Users</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">
    <div class="row">
         <div class="col-md-8">

          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Registered</th>
                <th>Role</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.name, user %></td>
                <td><%= user.email %></td>
                <td><%= user.created_at.to_date %></td>
                <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
                <td>
                  <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
                  <%= render user %>
                </td>
          
                <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
                <td><a class="btn btn-mini" href="/home/pray_for_user/<%=user.id%>" type="button">Pray for <%=user.name%></a>
                <% prayed_recently = UserAction.where(:to_user_id => current_user.id).where("created_at > ?", 6.weeks.ago).first %>
                <% if prayed_recently %>
                &nbsp;&nbsp; <i class="fa fa-fire"></i>
                <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          </div>
    
    </div>
  </div>
</section>