<section class="portfolio_strict">
  <div class="container">
    <div class="row isotope_portfolio_container">
      <% photo_id = 1 %>
      <% @newest_four.each do |school| %>
      <% unless school.nil? %>
      <% if photo_id < @newest_four.length %>
      <% profile_photo = get_profile_photo(school["id"]) %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="school_<%=school["id"]%>">
          <div class="portfolio_item">
            <a href="/home/show_schools?id=<%= school["id"] %>" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                <figure style="background-image:url(https://edifydb.s3.amazonaws.com/documents/uploads/<%=profile_photo["id"]-%>/small/<%=profile_photo["upload_file_name"]-%>);">
                 <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                  <path d="M 180,0 0,0 0,0 180,0 z"/>
                 </svg>
                 <figcaption>
                 <% if user_signed_in? %>
                   <p><%= school["name"] %></p>
                   <div class="view_button">View</div>
                 <% else %>
                   <p><%= school["name"] %></p>
                   <div class="view_button">Sign-in to view</div>
                 <% end %>
                 </figcaption>
                </figure>
            </a>
            <div class="portfolio_description">
              <h3><a href="/home/show_schools?id=<%= school["id"] %>"><%= school["name"] %></a></h3>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
      <% photo_id += 1 %>
      <% end %> <%# newest_four.each %>
    </div>
  </div>
</section>
