<section class="hgroup" id="about_us">
<div class="container">
    <h1>Your Dashboard</h1>
    <h2>This is the place to <strong>see the latest activity</strong> at-a-glance.</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Dashboard</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">
    <div class="row">
         <div class="col-md-8">
              <p><strong>Thank you</strong> for your continuing partnership in the work that Edify is doing around the world. You are a vital part
                of our mission to improve and expand low-fee independent Christ-centered schools in Ghana, Rwanda, Burkina Faso, Liberia, Dominican Republic and Peru.
              </p>
              <p class="columns_2"><strong>At Edify, we believe</strong> that education is the greatest opportunity for transformation in the developing
              world.  A young person with expanded knowledge and relevant life skills can create a small business or find employment that will lift his or her
              family out of poverty; a young person grounded in a Christ-centered faith will develop the moral foundation necessary to transform
              a culture and remake a society.  With a dedication to serving the poor, Edify's mission is to increase access to Christ-centered
              education and improve the quality and relevancy of what's taught <strong>in Christ-centered schools.</strong></p>
         </div>
         <div class="col-md-4">
              <blockquote>
                   <% @quote_num = rand(10) %>
                   <p><%= get_quote(@quote_num)[:quote] %></p>
                   <small><cite title="Source Title"><%= get_quote(@quote_num)[:quote_by] %></cite></small>
              </blockquote>
              <div id="prayed_for_you">
                <%#http://jsfiddle.net/nnQYQ/%>
                <% if @recent_prayer_for_donor %>
                  <ul id="notes">
                    <li><div class="tape"></div>
                    <p>We prayed for you today<br/>
                      <span class="text-muted small pull-right"><%= @recent_prayer_for_donor.created_at.strftime("%d %b")%></span>
                    </p></li>
                  </ul>
                <% end %>
              </div>
         </div>
    </div>
    <hr/>
  </div>
</section>
  <section class="call_to_action">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <% if current_user.show_tour %>
          <div id="tourbox" class="tourcontrols">
            <h4>Welcome!</h4>
            <i class="fa fa-flag fa-4x fa-fw"></i>
            <button class="btn btn-large btn-success btn-block" onclick="javascript:introJs().start();">Take a quick tour!</button>
            <a href="javascript:void(0);" onclick="javascript:hideTourBox();">Don't Show This Again</a>
          </div>
          <% end %>
        </div>
        <div class="col-md-4" data-intro="We'd like to introduce you to the schools that are a part of the Edify program." data-step='1'>
            <a href="/home/map_schools"><img src='/images/map.png' width="100" height="100" /></a><br/><h3>Explore</h3>
            <h4 data-intro='Using the School List, you can see all the schools in our program and filter by their region.' data-step='2'><a href="/home/list_schools"><i class="fa fa-group fa-fw"></i> Browse the School List</a></h4>
            <h4 data-intro='Explore the countries in which we work using Google Maps. Most schools are Geo-tagged and you can see exactly where they are in their communities.' data-step='3'><a href="/home/map_schools"><i class="fa fa-map-marker fa-fw"></i> Unfold the School Map</a></h4>
        </div>
        <div class="col-md-4">
            <h4>Recently added schools</h4>
            <%= render "four_newest_stack" %>
        </div>
      </div>
    </div>
  </section>
<section class="call_to_action">
  <div class="container">
    <div class="row text-center">
      <div data-intro='Grow in your knowledge of low-fee independent schools, of international development, and your faith.' data-step='4' class="col-md-3 text-center">
        <i class="fa fa-leaf fa-4x fa-fw"></i><br/>
        <h3>Grow</h3>
        <h4 data-intro='Join in with others in our community and discuss and reflect on a monthly devotional brought to you by various authors.' data-step='5'><a href="/forums"><i class="fa fa-comments-o fa-fw"></i> Devotional</a></h4>
        <h4 data-intro='Dig deeper into our recommended reading lists; discuss and react to the books that inspire and challenge us.' data-step='6'><a href="/forums"><i class="fa fa-book fa-fw"></i> Book Club</a></h4>
      </div>
      <div data-intro='Partner with us financially. Program donations fund loans and training that help improve and expand low-fee Christ-centered education in the countries where we work.' data-step='7' class="col-md-3 text-center">
        <i class="fa fa-money fa-4x fa-fw"></i><br/>
        <h3>Give</h3>
        <h4><a href="/donations/new"><i class="fa fa-credit-card fa-fw"></i>  Make a Donation</a></h4>
        <h4><a href="/fundraisers/new"><i class="fa fa-bullhorn"></i> Start a Fundraiser</a></h4>
      </div>
      <div data-intro='Commit to pray for the schools, their proprietors, teachers, students, parents and their communities.  You can share your prayers publicly for others to join in.' data-step='8'  class="col-md-3 text-center">
        <i class="fa fa-cloud-upload fa-4x fa-fw"></i><br/>
        <h3>God</h3>
        <h4><a href="/home/prayer_list"><i class="fa fa-fire fa-fw"></i> My Prayer List</a></h4>
        <h4><a href="/home/prayer_list"><i class="fa fa-bolt"></i> Global Prayer Feed</a></h4>
      </div>
      <div class="col-md-3 text-center">
        <i class="fa fa-plane fa-4x fa-fw"></i><br/>
        <h3>Go!</h3>
        <h4 data-intro="You can visit our schools any time, virtually.  Take a virtual insight trip through Google Earth and visit the schools we serve." data-step='9' ><a href="/home/virtual_trip"><i class="fa fa-globe fa-fw"></i> Take a Virtual Trip</a></h4>
        <h4 data-intro="If you've had a chance to visit our work first hand, you can create a gallery of the schools you've personally visited." data-step='10' ><a href="/home/schools_visited"><i class="fa fa-map-marker fa-fw"></i> Schools I've Visited</a></h4>
      </div>
    </div>
  </div>
</section>

<% content_for :footer_scripts do %>
<link href="//cdnjs.cloudflare.com/ajax/libs/intro.js/0.5.0/introjs.min.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/tourtip.css" rel="stylesheet" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/intro.js/0.5.0/intro.min.js" type="text/javascript"></script>
<script type="text/javascript">
function hideTourBox(e) {
  $("#tourbox").remove();
  $.post("/home/tour_toggle",{},"json").done();
};
</script>
<% end %>

<% if @recent_prayer_for_donor %>
<% content_for :jit_header do %>
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' rel='stylesheet' type='text/css'>
<style type="text/css">
#notes li {
    position: relative;
    width: 300px;
    min-height: 75px;
    margin: 25px auto;
    padding: 15px;
    background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,247,210,1)), to(rgba(240,242,155,1)));
    background: -moz-linear-gradient(top, rgba(247,247,210,1), rgba(240,242,155,1));
    -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 12px (rgba(0,0,0.5));
    box-shadow: 0 1px 2px #000;
    -webkit-transform: rotate(-.5deg);
    -moz-transform: rotate(-.5deg);
    -o-transform: rotate(-.5deg);
}

#notes li:nth-child(even) {
    -webkit-transform: rotate(.5deg);
    -moz-transform: rotate(.5deg);
    -o-transform: rotate(.5deg);
}

#notes li p {
    text-align: center;
    font: normal normal normal 28px/32px 'Reenie Beanie', Helvetica, Arial, sans-serif;
    color: #000;
    text-shadow: white 1px 1px 0px;
    overflow:hidden;
}

#notes li div.tape {
    position: absolute;
    left: 115px;
    top: -15px;
    width: 75px;
    height: 25px;
    z-index: 2;
    background-color: rgba(243,245,228,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

#notes li:nth-child(even) div.tape {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}
</style>
<% end %>
<% end %>
