<section class="hgroup" id="portfolio">
<div class="container">
    <h1>Impact Portfolio</h1>
    <h2><strong>Thank you</strong> for your generous support.</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li>My Portfolio </li>
         <li class="active">Impact Portfolio</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#donations">My Donations</a></li>
  <li><a href="#loans">Financial Impact</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="donations">
  <% unless @donations.blank? %>
  <table class="table table-bordered table-striped">
    <thead>
      <th>Date</th>
      <th>Amount</th>
    </thead>
    <tbody>
  <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.donated_at.strftime("%d-%b-%Y") %></td>
        <td><%= number_to_currency(donation.amount_cents.to_f / 100) %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
  <% end %>
  <a class="btn btn-success" href="/donations/new">Make a donation</a><br/>
    <section class="call_to_action"><i class="fa fa-dashboard fa-4x text-muted"></i>
         <h3 class="text-muted"></h3>
         <h4></h4>
    </section>
  </div>
  
  <div class="tab-pane" id="loans">
    <h3>Once you've donated, this is where you'll see your donation at work.</h3>
    
    <h4>From here, you'll see which school received a loan as a result of your donation,
      and how they are using it to improve and expand their school and ultimately bring a high-quality, Christ-centered education to their school.
    </h4>
    <section class="call_to_action"><i class="fa fa-dashboard fa-4x text-muted"></i>
         <h3 class="text-muted"></h3>
         <h4></h4>
    </section>
  </div>
</div>
  </div>
</section>

<% content_for :footer_scripts do %>
<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>
<% end %>