<section class="hgroup" id="portfolio">
<div class="container">
    <h1>Edify Partner Schools</h1>
    <h2>The number of Christ-centered Edify Partner Schools is <strong>growing.</strong></h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Edify Partner Schools</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable" id="schools">
  <thead>
  <tr>
    <th>Photo</th>
    <th>Name of School</th>
    <th>Proprietor</th>
    <th>Region</th>
    <th>Country</th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @schools.each do |school| %>
 <tr>
    <% if school["photo_file_name"].nil? or school["photo_file_name"].blank? %>
    <td><img src="http://s3.amazonaws.com/edify-donor/img/school-no-photo-<%=rand(3)-%>.jpg" alt="" width="80" /></td>
    <% else %>
    <td><img src="http://s3.amazonaws.com/edifydb/thumb/<%=school["id"]-%>/<%=school["photo_file_name"]-%>" alt="" /></td>
    <% end %>
    <td><%= school["name"].titlecase %></td>
    <td><%= school["proprietor_first"].titlecase %></td>
    <td><%= school["region"] %></td>
    <td><%= @countries[school["country_id"]] %></td>
    <td><%= link_to 'View', {:action => :show_school, :id => school["id"]} %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>
</section>


<% content_for :footer_scripts do %>
<script type="text/javascript">
$('#schools').dataTable({
  "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
  "sPaginationType": "bootstrap"
});
</script>
<% end %>
<%# delete this comment %>
