<section class="hgroup" id="map_page">
<div class="container">
    <h1>A Global Community</h1>
    <h2><strong>Visualize</strong> where Edify Partner Schools are making a difference in their communities.</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Map</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">
    <div id="map_canvas"></div>
  </div>
</section>

<% content_for :jit_header do %>

<style>

  table { border-collapse: collapse; border-spacing: 0; }
  p { margin: 0.75em 0; }
  #map_canvas { height: 600px; }
  @media print { #map_canvas { height: 950px; } }
</style>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyBm41deuj8F0R2FbrAaDyzqGLMBSfgURis"></script>
<script type="text/javascript" src="/js/markerclusterer.js"></script>
<script type="text/javascript" src="/js/oms.min.js"></script>
<script>
  window.onload = function() {
    var gm = google.maps;
    var map = new gm.Map(document.getElementById('map_canvas'), {
      mapTypeId: gm.MapTypeId.HYBRID,
      center: new gm.LatLng(18.735693,-70.162651), zoom: 5,  // whatevs: fitBounds will override
      scrollwheel: false,
      streetViewControl: false,
      panControl: false
    });

    mcOptions = {styles: [{
    textColor: "white",
    height: 52,
    url: "/images/cluster_small.png",
    width: 52
    },
    {
    textColor: "white",
    height: 70,
    url: "/images/cluster_medium.png",
    width: 70
    },
    {
    textColor: "white",
    height: 90,
    url: "/images/cluster_large.png",
    width: 90
    }]}

    var dummy_markers = [];
    var mc = new MarkerClusterer(map,dummy_markers,mcOptions);
    var iw = new gm.InfoWindow();
    var oms = new OverlappingMarkerSpiderfier(map,
      {markersWontMove: true, markersWontHide: true, keepSpiderfied: true, legWeight: 1});

    function load_content(map,marker){
      var html = $.ajax({
        url: '/home/school_info_window/' + marker.title + '.js',
        async: false}).responseText;
      return html;
      };


    var usualColor = '009bfc';
    var spiderfiedColor = '3b708f'; // Edify Blue
    var stackedColor = '009193';
    var iconWithColor = function(color) {
      return 'https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin|+|' +
        color + '|000000|ffff00';
    }
    var iconWithStar = function(color) {
      return 'https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin_star|+|' +
        color + '|000000|ffff00';
    }
    var shadow = new gm.MarkerImage(
      'http://www.google.com/intl/en_ALL/mapfiles/shadow50.png',
      new gm.Size(37, 34),  // size   - for sprite clipping
      new gm.Point(0, 0),   // origin - ditto
      new gm.Point(10, 34)  // anchor - where to meet map location
    );

    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    var schoolShadow = {
      url: iconBase + 'schools_maps.shadow.png',
      anchor: new google.maps.Point(16, 34)
    };
    <%# icon: iconBase + 'schools_maps.png', %>

    oms.addListener('click', function(marker) {
/*       var content = load_content(map,marker); */
      iw.setContent("Loading");
      iw.open(map, marker);
      var content = load_content(map,marker);
      iw.setContent(content);
    });
    oms.addListener('spiderfy', function(markers) {
      for(var i = 0; i < markers.length; i ++) {
        markers[i].setIcon(iconWithColor(spiderfiedColor));
        markers[i].setShadow(null);
      }
      iw.close();
    });
    oms.addListener('unspiderfy', function(markers) {
      for(var i = 0; i < markers.length; i ++) {
        markers[i].setIcon(iconWithStar(stackedColor));
        markers[i].setShadow(shadow);
      }
    });

    var bounds = new gm.LatLngBounds();
    for (var i = 0; i < window.mapData.length; i ++) {
      var datum = window.mapData[i];
      var loc = new gm.LatLng(datum.lat, datum.lon);
      bounds.extend(loc);
      if(datum.lat == lastLat && datum.lon == lastLng){
        var mapIcon = iconWithStar(stackedColor);
      }
      else {
        var mapIcon = iconWithColor(usualColor)
      }
      var marker = new gm.Marker({
        position: loc,
        title: datum.h,
        map: map,
        icon: mapIcon,
        shadow: shadow
      });
      var lastLat = datum.lat;
      var lastLng = datum.lon;
      marker.desc = datum.d;
      oms.addMarker(marker);
      mc.addMarker(marker);
    }
    map.fitBounds(bounds);

    <%#http://stackoverflow.com/questions/9726920/integrating-spiderfier-js-into-markerclusterer-v3-to-explode-multi-markers-with%>
    var minClusterZoom = 13;
    mc.setMaxZoom(minClusterZoom);

    google.maps.event.addListener(mc, 'clusterclick', function(cluster) {
        map.fitBounds(cluster.getBounds()); // Fit the bounds of the cluster clicked on
        if( map.getZoom() > minClusterZoom+1 ) // If zoomed in past 15 (first level without clustering), zoom out to 15
            map.setZoom(minClusterZoom+1);
    });
  }

</script>
<% end %>
<% content_for :footer_scripts do %>
<script type="text/javascript">
  var schoolJSON = <%=raw @markers.as_json%>;
  var data = [];
  for (var i = 0; i < schoolJSON.length; i++) {
    if (schoolJSON[i].lng != ""){
    data.push({
      lon: schoolJSON[i].lng,
      lat: schoolJSON[i].lat,
      h:   schoolJSON[i].id
    });
    }
  }
  window.mapData = data;
</script>
<% end %>
