<section class="hgroup" id="portfolio">
<div class="container">
    <h1>My Fundraisers</h1>
    <h2><strong>Engage</strong> your friends and family in the work of Edify!</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li>My Portfolio </li>
         <li class="active">My Fundraisers</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">


<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Shareable Link</th>
    <th>Goal Amount</th>
    <th>End date</th>
    <th></th>
    <th></th>
  </tr>

<% @fundraisers.each do |fundraiser| %>
  <tr>
    <td><%= fundraiser.name %></td>
    <td><%= fundraiser.friendly_url %></td>
    <td><%= number_to_currency((fundraiser.goal_amount_cents / 100), precision: 0) %></td>
    <td><%= fundraiser.end_date.strftime("%d-%b-%Y") %></td>
    <td><%= link_to 'Show', fundraiser %></td>
    <td><%= link_to 'Edit', edit_fundraiser_path(fundraiser) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Start A New Fundraiser', new_fundraiser_path, class: 'btn btn-default' %>

  </div>
</section>
