<section class="hgroup" id="portfolio">
<div class="container">
    <h1>My School Prayer List</h1>
    <h2>Make an <strong>eternal impact</strong> by praying daily for these schools.</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li>My Portfolio </li>
         <li class="active">My School Prayer List</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">

    <% if @prayer_list.blank? %>
    <section class="call_to_action">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <i class="fa fa-compass fa-4x fa-fw"></i><br/><br/><br/><h3>Pray For Schools.</h3>
            <h4><a href="/home/list_schools"><i class="fa fa-group fa-fw"></i> Browse the School List</a></h4>
            <h4><a href="/home/map_schools"><i class="fa fa-map-marker fa-fw"></i> Unfold the School Map</a></h4>
        </div>
      </div>
    </section>
    <% else %>
    <div id="post_comments">
    <div class="comment">
    <% @prayer_list.each do |school| %>
    <div class="row" id="school_<%=school.school_id%>">
        <figure class="col-md-1">
                  <% if school.photo_file_name.nil? or school.photo_file_name.blank? %>
                    <% @rand_no_photo = rand(3) %>
                  <img src="http://s3.amazonaws.com/edify-donor/img/school-no-photo-thumb-<%=@rand_no_photo-%>.jpg" class="img-circle" width="80" height="80"/> 
                    <% else %>
                  <img src="http://s3.amazonaws.com/edifydb/thumb/<%=school.school_id-%>/<%=school.photo_file_name-%>" class="img-circle"/> 
                  <% end %>
        </figure>
        <div class="col-md-7">
        <a onclick="removeSchoolFromList('<%=school.school_id%>')" class="close">&times;</a>
             <div class="comment_name"> <a href="/home/show_schools?id=<%= school.school_id %>"><%= school.school_name %></a> 
             <a school="<%=school.school_id%>" class="btn modal-btn reply"> Share a public prayer for this school <i class="icon fa fa-comment-alt"></i></a> </div>
             <div class="comment_date">Added to my prayer list <i class="fa fa-clock-o"></i> <%= school.created_at.strftime("%d %b %Y") %></div>
             <div class="the_comment">
                  <p><strong>Proprietor: </strong><%=school.proprietor_first%><br/>
                  <strong>Region: </strong><%= school.region %></p>
             </div>        
        </div>    
    </div>
    <div id="prayer_<%=school.school_id%>">
      <% @prayers = UserAction.where("school_id = ? and user_id = ?", school.school_id, current_user.id).limit(3) %>
      <% @prayers.each do |prayer| %>
         <div class="row">
              <figure class="col-md-1 col-md-offset-1"><i class="fa fa-fire fa-4x muted"></i></figure>
              <div class="col-md-6">
                 <div class="comment_name">Prayer</div>
                 <div class="comment_date"><i class="fa fa-clock-o"></i> <%= prayer.created_at.strftime("%d %b %Y")%></div>
                 <div class="the_comment">
                      <p><%=prayer.content%></p>
                 </div>
              </div>
         </div>
      <% end %>
    </div>                        
    <% end %>
    </div>
    </div>
    <% end %>
    <section class="call_to_action">
      <i class="fa fa-fire fa-4x text-muted"></i>
    </section>

</div>
</section>

<% content_for :footer_scripts do %>

<script src="/js/bootstrap-dialog.js"></script>
<script type="text/javascript">
function removeSchoolFromList(id) {
  $("#school_"+id).addClass("disabled");
  $.post("/home/school_prayer",
    { school_id: id },
    "json")
    .done(function (responseText) {
      if (responseText.status === "remove") {
          $("#school_"+id).remove();
          $("#prayer_"+id).remove();
      }
  });
};
<%#http://nakupanda.github.io/bootstrap-dialog/%>
$(function(){
	$('.modal-btn').click(function(){
    var $link = $(this);
    var $schoolId = $link.attr('school');
    var dialog = new BootstrapDialog();
		dialog.setTitle(function(dialog){
			var $title = $('<div></div>');
			$title.append('<span>Share a public prayer for this school</span>');
			return $title;
		});
		dialog.setContent(function(dialog){
			var $content = $('<div></div>');
			$content.append('<label>Type the prayer you want to share:</label>');
			$prayer_input = $('<input type="text" name="prayer_text" class="col-md-5"/>');
			$content.append($prayer_input);
			$prayer_input.keyup({dialog: dialog}, function(event){
    		var dialog = event.data.dialog;
    		var prayer_text = $(this).val();
    		dialog.setData('prayer_content', prayer_text);
      });			
    
    return $content;
		});
		
		dialog.setButtons([{
		label	:	'Cancel',
		cssClass:	'btn',
		onclick	:	function(dialog){
			dialog.close();
		}
	},{
			id		:		'btn-close',
			label	:		'Share prayer',
			cssClass:		'btn-primary',
			onclick	:		function(dialog){
        $.post("/home/create_prayer_request",
          { school_id: $schoolId, content: dialog.getData('prayer_content') },
          "json")
          .done(function (responseText) {
            if (responseText.status === "success") {
              $("#prayer_"+$schoolId).prepend(responseText.prayer_html);
            }
        });
				dialog.close();
			}
		}]);
		dialog.open();
	});
});
</script>
<% end %>