<section class="hgroup" id="map_page">
<div class="container">
    <h1>Recently Added Schools</h1>
    <!--     <h2>You've made an <strong>impact.</strong></h2> -->
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Recently Added Schools</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">

      <%= render "four_newest_schools" %> 
    </section> 
  <section class="call_to_action">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <i class="fa fa-compass fa-4x fa-fw"></i><br/><br/><br/><h3>Continue Exploring</h3>
        <h4><a href="/home/list_schools"><i class="fa fa-group fa-fw"></i> Browse the School List</a></h4>
        <h4><a href="/home/map_schools"><i class="fa fa-map-marker fa-fw"></i> Unfold the School Map</a></h4>
    </div>
  </div>
  </section>

</div>
</section>