<style type="text/css">
.info-window h1 {
font: 17px/21px Arial, sans-serif;
text-align: left;
text-transform: none;
color: #494949;
font-weight: 600;
margin: 0;
}
.info-window .header {
background: #e6e6e6;
border-bottom: 1px solid #ccc;
width: 400px;
}
.info-window .body {
text-align: left;
width: 400px;
background-color: #F4F4F4;
font-family: Arial, sans-serif;
color: #494949;
border: 1px solid #e6e6e6;
border-top-color: #ffffff;
text-shadow: #fff -1px 1px 0;
}
.info-window .image {
width: 80px;
float: left;
}
.info-window .school-text {
padding-left:10px;
width: 300px;
float: right;
}
.label-info, {
background-color: #3a87ad;
}
.label-warning {
background-color: #f89406;
}
.label-success {
background-color: #468847;
}
.label {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.label, {
display: inline-block;
padding: 2px 4px;
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
white-space: nowrap;
vertical-align: baseline;
background-color: #999999;
}
</style>

<div class="info-window">
  <div class="header">
    <a href="/home/show_schools/<%= @school["id"] %>"><h1><%= @school["name"].titlecase %></h1></a>
  </div>
  <div class="body">
  <div class="image">
    <% if @school["photo_file_name"].nil? or @school["photo_file_name"].blank? %>
    <a href="/home/show_schools/<%= @school["id"] %>">
    <img src="http://s3.amazonaws.com/edify-donor/img/school-no-photo-thumb-<%=rand(3)-%>.jpg" alt="" />
    </a>
    <% else %>
    <a href="/home/show_schools/<%= @school["id"] %>">
    <img src="http://s3.amazonaws.com/edifydb/thumb/<%=@school["id"]-%>/<%=@school["photo_file_name"]-%>" alt="" />
    </a>
  <% end %>
  </div>
  <div class="school-text">
  <p>
    <%= @school["region"] %> Region<br/>
    <strong>Proprietor:</strong> <%=@school["proprietor_first"]-%><br/>
    <% unless @school["has_actual_coordinates"] == true %>
    <br/>
    <span class="label label-warning">GPS Accuracy: Regional</span>
    <% else %>
    <br/>
    <span class="label label-success">GPS Accuracy: Exact</span>
    <% end %>
  </p>
  </div>
</div>
</div>
