<section class="hgroup" id="portfolio">
<div class="container">
    <h1>Schools I've Visited</h1>
    <h2><strong>Remember</strong> the time spent and lives touched.</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li>My Portfolio </li>
         <li class="active">Schools I've Visited</li>
    </ul>
</div>
</section>


  <% if @schools_visited.blank? %>
    <section class="call_to_action">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <i class="fa fa-compass fa-4x fa-fw"></i><br/><br/><br/><h3>Find schools you've visited.</h3><br/>
            <h4><a href="/home/list_schools"><i class="fa fa-group fa-fw"></i> Browse the School List</a></h4>
            <h4><a href="/home/map_schools"><i class="fa fa-map-marker fa-fw"></i> Unfold the School Map</a></h4>
        </div>
      </div>
    </div>
    </section>
    <% else %>
<!--
     <section>
          <div class="container">
          <ul id="portfolio_filters">
               <li><a href="#" data-filter="*">show all</a></li>
               <li><a href="#" data-filter=".cat_visted_dominican_republic">Dominican Republic</a></li>
               <li><a href="#" data-filter=".cat_visited_ghana">Ghana</a></li>
               <li><a href="#" data-filter=".cat_visited_rwanda">Rwanda</a></li>
          </ul>
          </div>
     </section>
-->

  <section class="portfolio_strict">
  <div class="container">
    <div class="row isotope_portfolio_container">
      <% @schools_visited.each do |school| %>
       <div class="cat_visited_<%= school.country-%> col-xs-12 col-sm-6 col-md-4 col-lg-4" id="school_<%=school.school_id%>">
          <div class="portfolio_item">
            <a href="/home/show_schools?id=<%= school.school_id %>" data-path-hover="M 180,190 0,158 0,0 180,0 z">
              <% profile_photo = get_profile_photo(school.school_id) %>
              <% if profile_photo.blank? %>
              <% @rand_no_photo = rand(3) %>
                <figure style="background-image:url(http://s3.amazonaws.com/edify-donor/img/school-no-photo-<%=@rand_no_photo-%>.jpg)">
              <% else %>
                <figure style="background-image:url(https://edifydb.s3.amazonaws.com/documents/uploads/<%=profile_photo["id"]-%>/small/<%=profile_photo["upload_file_name"]-%>)">
              <% end %>
                 <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                  <path d="M 180,0 0,0 0,0 180,0 z"/>
                 </svg>
                 <figcaption>
                  <p><%= school.school_name %></p>
                  <div class="view_button">View</div>
                 </figcaption>
                </figure>
            </a>
            <div class="portfolio_description">
              <h3><a href="/home/show_schools?id=<%= school.school_id %>"><%= school.school_name %></a></h3>
              <p><a school="<%=school.school_id%>" class="btn modal-btn btn-mini"> Make a note <i class="icon fa fa-file-alt"></i></a>
              <a onclick="removeSchoolFromList('<%=school.school_id%>')" class="close">&times;</a></p>
            </div>
          </div>
       </div>
  <% end %> <%# schools_visited.each %>
    </div>
  </div>
  </section>
  <% end %> <%# if..else..end%>

<section class="call_to_action">
  <i class="fa fa-globe fa-4x text-muted"></i>
</section>

<% content_for :footer_scripts do %>
<script src="/js/bootstrap-dialog.js"></script>
<script type="text/javascript">
function removeSchoolFromList(id) {
  $("#school_"+id).addClass("disabled");
  $.post("/home/school_visited",
    { school_id: id },
    "json")
    .done(function (responseText) {
      if (responseText.status === "remove") {
          $("#school_"+id).remove();
      }
  });
};
<%#http://nakupanda.github.io/bootstrap-dialog/%>
$(function(){
	$('.modal-btn').click(function(){
    var $link = $(this);
    var $schoolId = $link.attr('school');
    var dialog = new BootstrapDialog();
		dialog.setTitle(function(dialog){
			var $title = $('<div></div>');
			$title.append('<span>School Notes</span>');
			return $title;
		});
		dialog.setContent(function(dialog){
			var $content = $('<div></div>');
			$content.append('<label>Enter your notes for this school:</label>');
			$note_input = $('<input type="text" name="note_text" class="col-md-5"/>');
			$content.append($note_input);
			$note_input.keyup({dialog: dialog}, function(event){
    		var dialog = event.data.dialog;
    		var note_text = $(this).val();
    		dialog.setData('note_content', note_text);
      });

    return $content;
		});

		dialog.setButtons([{
		label	:	'Cancel',
		cssClass:	'btn',
		onclick	:	function(dialog){
			dialog.close();
		}
	},{
			id		:		'btn btn-close',
			label	:		'Save Note',
			cssClass:		'btn-primary',
			onclick	:		function(dialog){
        $.post("/home/create_school_note",
          { school_id: $schoolId, content: dialog.getData('note_content') },
          "json")
          .done(function (responseText) {
            if (responseText.status === "success") {
/*               $("#prayer_"+$schoolId).prepend(responseText.prayer_html); */
            }
        });
				dialog.close();
			}
		}]);
		dialog.open();
	});
});
</script>
<% end %>
