<section class="hgroup" id="portfolio_item">
<div class="container">
    <h1><%= @school["name"].titlecase %></h1>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
           <li><a href="/home/list_schools">Schools</a> </li>
           <li class="active"><%= @school["name"].titlecase %></li>
    </ul>
</div>
</section>

<div class="container">
 <div class="row">
  <div class="col-sm-8 col-md-8">
       <section id="portfolio_slider_wrapper">
            <div class="flexslider" id="portfolio_slider">
                 <ul class="slides">
                      <% profile_photo = get_profile_photo(@school["id"]) %>
                      <% if profile_photo.blank? %>
                      <% @rand_no_photo = rand(3) %>
                      <li class="item" data-thumb="https://s3.amazonaws.com/edify-donor/img/school-no-photo-<%=@rand_no_photo-%>.jpg" style="background-image: url(https://s3.amazonaws.com/edify-donor/img/school-no-photo-<%=@rand_no_photo-%>.jpg)">
                           <div class="container"> <a href="https://s3.amazonaws.com/edify-donor/img/school-no-photo.jpg" rel="prettyPhoto[gal]"></a>
                      <% else %>
                      <li class="item" data-thumb="https://edifydb.s3.amazonaws.com/documents/uploads/<%=profile_photo["id"]-%>/medium/<%=profile_photo["upload_file_name"]-%>" style="background-image: url(https://edifydb.s3.amazonaws.com/documents/uploads/<%=profile_photo["id"]-%>/medium/<%=profile_photo["upload_file_name"]-%>)">
                           <div class="container"> <a href="https://edifydb.s3.amazonaws.com/documents/uploads/<%=profile_photo["id"]-%>/medium/<%=profile_photo["upload_file_name"]-%>" rel="prettyPhoto[gal]"></a>
                      <% end %>
                                <div class="carousel-caption">
<!--                                                        <p class="lead">optional description of the photo</p> -->
                                </div>
                           </div>
                      </li>
                      <% if @school["has_actual_coordinates"] == false %>
                      <li class="item" data-thumb="https://maps.google.com/maps/api/staticmap?center=<%= @no_coords %>&zoom=8&size=1024x640&maptype=terrain&sensor=false&markers=color:blue%7C%7C<%= @no_coords %>" style="background-image: url(https://maps.google.com/maps/api/staticmap?center=<%= @no_coords %>&zoom=8&size=1024x640&maptype=terrain&sensor=false&markers=color:blue%7C<%= @no_coords %>)">
                           <div class="container"> <a href="https://maps.google.com/maps/api/staticmap?center=<%= @no_coords %>&zoom=8&size=1024x640&maptype=terrain&sensor=false&markers=color:blue%7C<%= @no_coords %>" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                     <p class="lead">GPS Data Approximate</p>
                                </div>
                           </div>
                      </li>
                      <% elsif @school["has_actual_coordinates"] == true %>
                      <li class="item" data-thumb="https://maps.google.com/maps/api/staticmap?center=<%= @school["gps_coordinates"] %>&zoom=9&size=1024x6&maptype=terrain&sensor=false&markers=color:blue%7C%7C<%= @school["gps_coordinates"] %>" style="background-image: url(https://maps.google.com/maps/api/staticmap?center=<%= @school["gps_coordinates"] %>&zoom=9&size=1024x640&maptype=terrain&sensor=false&markers=color:blue%7C%7C<%= @school["gps_coordinates"] %>)">
                           <div class="container"> <a href="https://maps.google.com/maps/api/staticmap?center=<%= @school["gps_coordinates"] %>&zoom=9&size=1024x640&maptype=terrain&sensor=false&markers=color:blue%7C<%= @school["gps_coordinates"] %>" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                     <p class="lead"><%= @school["gps_coordinates"] %></p>
                                </div>
                           </div>
                      </li>
                      <% end %>
                 </ul>
            </div>
            <div id="carousel" class="flexslider">
                 <ul class="slides">
                      <% if profile_photo.blank? %>
                      <li> <img src="https://s3.amazonaws.com/edify-donor/img/school-no-photo-<%=@rand_no_photo-%>.jpg" alt="" /> </li>
                      <% else %>
                      <li> <img src="https://edifydb.s3.amazonaws.com/documents/uploads/<%=profile_photo["id"]-%>/small/<%=profile_photo["upload_file_name"]-%>" alt="" /> </li>
                      <% end %>
                      <% if @school["gps_coordinates"].nil? or @school["gps_coordinates"].blank? %>
                      <li> <img src="https://maps.google.com/maps/api/staticmap?center=<%= @no_coords %>&zoom=8&size=1024x640&maptype=terrain&sensor=false&markers=color:blue%7Clabel:<%= @school["name"] %>%7C<%= @no_coords %>" alt="" /> </li>
                      <% elsif !@school["gps_coordinates"].nil? or !@school["gps_coordinates"].blank? %>
                      <li> <img src="https://maps.google.com/maps/api/staticmap?center=<%= @school["gps_coordinates"] %>&zoom=9&size=1024x640&maptype=terrain&sensor=false&markers=color:blue%7Clabel:<%= @school["name"] %>%7C<%= @school["gps_coordinates"] %>" alt="" /> </li>
                      <% end %>
                 </ul>
            </div>
       </section>
  </div>
  <div class="col-sm-4 col-md-4">
     <article class="portfolio_details">
          <h2 class="section_header">About this school</h2>
          <%= school_story(rand(3),@school["name"].titlecase,@school["year_founded"],@school["environment"],@school["proprietor_first"],@school["director_first"],@school["region"],@school["proprietor_gender"],@enrollment["total"],@school["country_name"]) %></p>
          <br><br>
          <div>
            <table class="table table-bordered table-striped">
              <tr>
                <td class="text-center"><i class="fa fa-briefcase fa-fw fa-2x" style="color:#804000"></i></td>
                <td>
                <% if @school["proprietor_gender"] == "female" %>
                <strong>Proprietress:</strong> <%= @school["proprietor_first"].titlecase %>
                <% else %>
                <strong>Proprietor:</strong> <%= @school["proprietor_first"].titlecase %>
                <% end %>
                </td>
              </tr>
            <tr>
              <td class="text-center"><i class="fa fa-users fa-2x fa-fw" style="color:#ffcc66"></i></td>
              <% if @enrollment["data_source"] == "country_average" %>
                <td><strong>Approximate Enrollment:</strong> <%= @enrollment["total"] %>
                <br/><span class="muted">Showing Average Number of Students/School for <%= @school["country_name"] %></span>
                </td>
              <% else %>
                <td><strong>Reported Enrollment:</strong> <%= @enrollment["total"] %></td>
              <% end %>
            </tr>
            <% unless @loan_category == "no_loan" %>
            <tr>
              <td class="text-center">
              <i class="fa fa-money fa-fw fa-2x" style="color:#008040"></i>
              </td>
              <td><strong>Loan Category:</strong> <%=@loan_category%><br/>
              <strong>Loan Use:</strong> <%= @loan_use %></td>
            </tr>
            <% end %>
            <tr>
            <td class="text-center"><i class="fa fa-map-marker fa-fw fa-2x" style="color:#f7544c"></i></td>
            <td><strong>GPS Location Data:</strong>
              <% unless @school["has_actual_coordinates"] == true %>
              <span class="label label-warning">Regional</span>
              <% else %>
              <span class="label label-success">Exact</span>
              <% end %>
            </td>

            </table>
            <% if @school_prayer.nil? or @school_prayer.blank? %>
              <a id="pray_button" class="btn btn-lg center-block btn-default" type="button">I will pray for this school. <i class="fa fa-fire" id="pray_icon"></i></a><br/>
            <% else %>
              <a id="pray_button" class="btn btn-lg center-block btn-success" type="button">On my school prayer list. <i class="fa fa-fire" id="pray_icon"></i></a><br/>
            <% end %>
            <% if @school_visited.nil? or @school_visited.blank? %>
              <a id="visited_button" class="btn btn-lg center-block btn-default" type="button" >I have visited this school. <i class="fa fa-map-marker"></i></a><br/>
            <% else %>
              <a id="visited_button" class="btn btn-lg center-block btn-success" type="button" >On my list of schools visited. <i class="fa fa-map-marker"></i></a><br/>
              <% content_for :footer_scripts do %>
              <script type="text/javascript">
                $("#want_to_visit_button").html("Add to my Virtual Trip Itinerary. <i class=\"fa fa-globe\"></i>");
              </script>
              <% end %>
            <% end %>
            <% if @want_to_visit_school.nil? or @want_to_visit_school.blank? %>
              <a id="want_to_visit_button" class="btn btn-lg center-block btn-default" type="button" >Add to my Virtual Trip Itinerary. <i class="fa fa-globe"></i></a><br/>
            <% else %>
              <a id="want_to_visit_button" class="btn btn-lg center-block btn-info" type="button" >On my Virtual Trip Itinerary. <i class="fa fa-globe"></i></a><br/>
            <% end %>
          </div>
      </article>
    </div>
</div>
</div>

<% content_for :footer_scripts do %>
<script type="text/javascript">
$("#pray_button").click(function() {
  $("#pray_button").addClass("disabled");
  $.get("/home/school_prayer",
    { school_id: <%=@school["id"]%>, school_name: "<%=@school["name"].titlecase-%>"},
    "json")
    .done(function (responseText) {
      if (responseText.status === "add") {
        $("#pray_button").html("Added to prayer list. <i class=\"fa fa-fire\"></i>");
        $("#pray_button").addClass("btn-success");
      } else if (responseText.status === "remove") {
        $("#pray_button").html("I will pray for this school. <i class=\"fa fa-fire\"></i>");
        $("#pray_button").removeClass("btn-success");
      }
      $("#pray_button").removeClass("disabled");
  });
});
$("#visited_button").on( "click", function() {
  $("#visited_button").addClass("disabled");
  $.get("/home/school_visited",
    { school_id: <%=@school["id"]%>, school_name: "<%=@school["name"].titlecase-%>" },
    "json")
    .done(function (responseText) {
      if (responseText.status === "add") {
        $("#visited_button").html("Added to list of schools visited. <i class=\"fa fa-map-marker\"></i>");
        $("#visited_button").addClass("btn-success");
      } else if (responseText.status === "remove") {
        $("#visited_button").html("I have visited this school. <i class=\"fa fa-fire\"></i>");
        $("#visited_button").removeClass("btn-success");
      }
      $("#visited_button").removeClass("disabled");
  });
});
$("#want_to_visit_button").on( "click", function() {
  $("#want_to_visit_button").addClass("disabled");
  $.get("/home/want_to_visit_school",
    { school_id: <%=@school["id"]%>, school_name: "<%=@school["name"].titlecase-%>" },
    "json")
    .done(function (responseText) {
      if (responseText.status === "add") {
        $("#want_to_visit_button").html("Added to Virtual Trip Itinerary. <i class=\"fa fa-globe\"></i>");
        $("#want_to_visit_button").addClass("btn-info");
      } else if (responseText.status === "remove") {
        $("#want_to_visit_button").html("Add to my Virtual Trip Itinerary. <i class=\"fa fa-globe\"></i>");
        $("#want_to_visit_button").removeClass("btn-info");
      }
      $("#want_to_visit_button").removeClass("disabled");
  });
});
</script>
<% end %>
