<!doctype html>
<html class="no-js" lang="en">
<head>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/modernizr.custom.48287.js"></script>
    <title><%= content_for?(:title) ? yield(:title) : "{my}edify" %></title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Edify Donor" %>">
<script src="/js/Cesium/Cesium.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
    @import url(/js/Cesium/Widgets/widgets.css);
    #cesiumContainer {
        width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
    }
</style>
</head>
  <body style="background-color:black;">
    <div id="tour-ui" class="panel panel-default">
    <div class="panel-body" style="background-color:black">
    <img class="btn btn-link" src="/images/header-logo.png"/>
<!--
    <button class="btn btn-success" onclick="playTour();"><i class="fa fa-play"></i> Play</button>
    <button class="btn btn-default" onclick="pauseTour();"><i class="fa fa-pause"></i> Pause</button>
    <button class="btn btn-danger" onclick="resetTour();"><i class="fa fa-stop"></i> Stop/Reset</button>
-->
    <span class="pull-right"><a href="/home/virtual_trip">Back to {my}edify</a></span>
    </div>
    </div>
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <% @want_to_visit_school.each do |country, sch| %>
        <% sch.each do |school| %>
        <a href="#" onclick="flyToSchool_<%=school.id%>();" class="list-group-item"><%= school.school_name %></a>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-10">
      <div id="cesiumContainer"></div>
    </div>
  </div>

<script type="text/javascript">
  var viewer = new Cesium.Viewer('cesiumContainer', {
    baseLayerPicker : false,
    imageryProvider : new Cesium.ArcGisMapServerImageryProvider({
      url: '//services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer'
    }),
    sceneModePicker : false,
    navigationInstructionsInitiallyVisible : false,
    geocoder : false,
    animation : false,
    timeline : false
  });
  var markerUrl = '/images/school_marker.png';

  function start() {
    var center = Cesium.Cartesian3.fromDegrees(-117.203958, 32.736865);
    var heading = Cesium.Math.toRadians(90.0);
    var pitch = Cesium.Math.toRadians(-15.0);
    var range = 5000.0;
    viewer.camera.lookAt(center, new Cesium.HeadingPitchRange(heading, pitch, range));
  };


  <% country_index = 0 %>
  <% last_school_lng = 0 %>
  <% @want_to_visit_school.each do |country, sch| %>
    <% school_index = 0 %>
    <% sch.each do |school| %>
      <% school_index += 1 %>
      <% if country_index == country.length %>
        <% heading = school.bearing_to(country[0][0]) %>
      <% elsif school_index == sch.length %>
        <% heading = school.bearing_to(country[country_index+1][0])%>
      <% else %>
        <% heading = school.bearing_to(sch[school_index])%>
      <% end %>
      function flyToSchool_<%=school.id%>() {
          new Cesium.InfoBoxViewModel({showInfo : false});
          var boundingSphere = new Cesium.BoundingSphere(new Cesium.Cartesian3.fromDegrees(<%=school.lng%>, <%=school.lat%>, 0.05), .5);
          viewer.camera.flyToBoundingSphere(boundingSphere, {
                  offset: new Cesium.HeadingPitchRange(<%= number_with_precision(heading, precision: 1) %>, Cesium.Math.toRadians(-15.0), 2500)
                  });
      };
      var school_<%=school.id%> = viewer.entities.add({
          name : '<%= school.school_name %>',
          position : Cesium.Cartesian3.fromDegrees(<%=school.lng%>, <%=school.lat%>),
          billboard : {
              image : markerUrl
          }
      });
      school_<%=school.id%>.description = '\
        <img\
        width="50%"\
        style="float:left; margin: 0 1em 1em 0;"\
        <% profile_photo = get_profile_photo(school.school_id) %>
        <% if profile_photo.blank? %>
        <% rand_no_photo = rand(3) %>
        src="//s3.amazonaws.com/edify-donor/img/school-no-photo-<%=rand_no_photo%>.jpg"/>\
        <% else %>
        src="//edifydb.s3.amazonaws.com/documents/uploads/<%=profile_photo["id"]-%>/small/<%=profile_photo["upload_file_name"]-%>"/>\
        <% end %>
        <p>\
        This stop of our journey is at <%=school.school_name.titleize%>.  You\'ll meet the proprietor, <%=school.proprietor_first.titleize%>.\
        There are currently <%=school.enrollment%> students enrolled.\
        </p>\
        <p>\
        <% unless school.has_actual_coordinates == true %>
        <span class="label label-warning">GPS Location Accuracy: Regional</span>\
        <% else %>
        <span class="label label-success">GPS Location Accuracy: Exact</span>\
        <% end %>
        </p>';
    <% end %>
    <% country_index += 1 %>
  <% end %>

  start();
  </script>

  </body>
</html>
