<section class="hgroup" id="portfolio">
<div class="container">
    <h1>Virtual Trip Itinerary</h1>
    <h2>See the work of <strong>Edify</strong> through a virtual trip to the field.</h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li>My Portfolio </li>
         <li class="active">Virtual Trip Itinerary</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">

<div class="row">
<div class="col-md-12" style="margin:10px;padding-left:20px">
<% if @school_wishlist.blank? %>
    <section class="call_to_action">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <i class="fa fa-compass fa-4x fa-fw"></i><br/><br/><br/><h3>Create Your Itinerary.</h3>
            <h4><a href="/home/list_schools"><i class="fa fa-group fa-fw"></i> Browse the School List</a></h4>
            <h4><a href="/home/map_schools"><i class="fa fa-map-marker fa-fw"></i> Unfold the School Map</a></h4>
        </div>
      </div>
    </section>
<% else %>
  <div class="wish_list">
    <article class="wish_list_itinerary">
      <h3>Itinerary: Virtual School Visit</h3>
      <span class="pull-right">Now Boarding: 
      <a href="/home/tour" role="button" class="btn btn-info" target="_blank" data-toggle="modal">
      <strong><i class="fa fa-plane"></i> Click to start<br/>Virtual School Visit</a>
      </span>
      <%= Date.today.strftime("%A, %d%^b%Y") %><br/>
      <strong>Visitor: <%= current_user.name %></strong><br/><br/>
      Edify Record Locator: <%= (0...6).map{(65+rand(26)).chr}.join %><br/>
      <br/>
      ITINERARY / VISIT <%= rand(10 ** 5) %> DATE <%= Date.today.strftime("%d%^b")%><br/>
      VSVITN TICKET EDFY<%= rand(10 ** 12) %> <%= current_user.name.upcase %><br/>
      <h4>###Itinerary###</h4>
      <table class="table table-striped table-bordered">
      <tbody>
                 <% @school_wishlist.each do |country, sch| %>
                 <% sch.each do |school| %>
                   <tr id="row1_school_<%=school.school_id%>"><td>
                   <strong>School Visit</strong>
                   </td><td>
                     <a href="/home/show_schools?id=<%= school.school_id %>"><%= school.school_name %></a> <a onclick="removeSchoolFromList('<%=school.school_id%>')" class="close">&times;</a>
                   </td></tr>
                   <tr id="row2_school_<%=school.school_id%>"><td>
                     <img src="http://maps.google.com/maps/api/staticmap?center=<%= school.lat.to_s+","+school.lng.to_s %>&zoom=13&size=100x100&maptype=hybrid&sensor=false&markers=color:blue%7Clabel:<%= school.school_name %>%7C<%= school.lat.to_s+","+school.lng.to_s %>" class="img-polaroid" /> 
                   </td>
                   <td>
                   <strong>Proprietor:</strong> <%= school.proprietor_first.titlecase %><br/>
                   <strong>Region:</strong> <%= school.region %><br/>
                   <strong>Country:</strong> <%= school.country %>
                   </td></tr>
                 <% end %>
                 <% end %> 
      </tbody>
      </table>
      <strong>Your virtual tour</strong> will begin when you click on the Virtual School Visit button in the top right.        
    </article>
  </div>
<% end %>
</div>
</div>  
    

     
    <section class="call_to_action">
      <i class="fa fa-globe fa-4x muted"></i>
    </section>


</div>
</section>

<% content_for :footer_scripts do %>
<script type="text/javascript">
function removeSchoolFromList(id) {
  $(".school_"+id).addClass("disabled");
  $.post("/home/want_to_visit_school",
    { school_id: id },
    "json")
    .done(function (responseText) {
      if (responseText.status === "remove") {
          $("#row1_school_"+id).remove();
          $("#row2_school_"+id).remove();
      }
  });
};
</script>
<% end %>

<% content_for :jit_header do %>
<style type="text/css">
/*
div.wish_list {
   position:relative;
   font-family: "Courier New", Courier, monospace
}
*/
 
article.wish_list_itinerary {
   position:relative;
   margin: 0 0 2em 0;
   background: #fff;
   padding: 10px;
   border: 1px solid rgba(0, 0, 0, 0.150);
 
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
}
 
article.wish_list_itinerary:before {
   z-index: -1;
   position: absolute;
   top: -2px;
   left: 0;
   content: '';
   width: 100%;
   height: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.150);
 
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
 
   -webkit-transform: rotate(1deg);
   -moz-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
}
 
article.wish_list_itinerary:after {
   z-index: -2;
   position: absolute;
   top: 1px;
   left: -2px;
   content: '';
   width: 100%;
   height: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.150);
 
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
 
   -webkit-transform: rotate(359deg);
   -moz-transform: rotate(359deg);
   -o-transform: rotate(359deg);
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
}
</style>
<% end %>