<%= simple_form_for(@donation) do |f| %>
  <%= f.error_notification %>
      <div class="pane" style="display:block">
        <input name="item_description" id="item_description" type="hidden" value="General Donation via myEdify" />
        <label>Amount:</label>
        <div class="input-group col-md-4">
          <span class="input-group-addon">$</span>
          <%= f.text_field :total_amount, :required => true, :class=>'form-control' %>
          <span class="input-group-addon">.00</span>
        </div>
        <div class="clr"></div>
      </div>
<div class="row">
<div class="col-md-6">
                	<!-- BILLING BLOCK -->
                <h2>Billing Information</h2>
                <div>
                 	<label>Name:</label>
                    <%= f.text_field :billing_first, :class=>"col-md-2 form-control", :placeholder => "First name", :required => true %>&nbsp;<%= f.text_field :billing_last, :class=>"col-md-2 form-control", :placeholder => "Last name", :required => true %>
                    <div class="clr"></div>
                    
                     <label>Address:</label>
                    <%= f.text_field :billing_address, :class=>"col-md-5 form-control", :required => true %>
                    <div class="clr"></div>
                    
                     <label>City:</label>
                    <%= f.text_field :billing_city, :class=>"col-md-3 form-control", :required => true %>
                    <div class="clr"></div>
                       <label>State & ZIP</label>
                    <%= f.select :billing_state, options_for_select(get_us_states), :class=>'form-control' %>&nbsp;<%= f.text_field :billing_zip, :class=>"small-field form-control", :required => true %>
                    <div class="clr"></div>
                </div>
                <!-- BILLING BLOCK -->
</div>
<div class="col-md-6">   
                <!-- CREDIT CARD BLOCK -->
                <h2>Credit Card Information</h2>
                <div>
                    <div class="clr"></div>
                    <div class="ccinfo">
                    <label>Card Number:</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="cc-types">
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-amex"></i>
                        <i class="fa fa-cc-discover"></i>
                      </span>
                      <%= f.text_field :card_number, :class=>"long-field form-control", :maxlength=>"16", :required => true, :placeholder=>"Credit Card Number" %>

                    </div>
                    <div class="clr"></div>
                    
                    <label>Expiration Date:</label>
                      <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true, :class=>'form-control' %>
                    <div class="clr"></div>
                    <label>CVV:<i class="fa fa-question-sign"></i></a></label>
                    <%= f.text_field :card_verification, :required => true, :class=>"form-control col-md-1" %>
                      <div class="clr"></div>
                      <br/><br/>
                      <%= f.button :submit, :class=>"btn btn-success col-md-5", :value => "Donate", :id => "donate_button" %>
              
                  </div>    
                </div>
            	<!-- CREDIT CARD BLOCK -->
</div></div>
            	<% end %>
            	
<% content_for :jit_header do %>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
<script type="text/javascript" src="/js/autoNumeric.js"></script>
<% end %>

<script type="text/javascript">
jQuery(function($) {
  $('#donation_total_amount').autoNumeric('init',{vMax: '999999.99'});    
});

$(function(){
  //custom validator for money fields
  $.validator.addMethod("money", function (value, element) {
     return this.optional(element) || value.match(/^\d+(.(\d{2}))?/);
  }, "Please provide a valid dollar amount (up to 2 decimal places)<br/><strong>DO NOT</strong> include a dollar ($) sign.");

  $("#new_donation").validate({
    rules: {
      "donation[total_amount]": {
        required: true,
        money: true },
      "donation[billing_first]": "required",
      "donation[billing_last]": "required",
      "donation[billing_address]": "required",
      "donation[billing_city]": "required",
      "donation[billing_zip]": {
        required: true,
        zipcodeUS: true },
      "donation[card_number]": "required",
      "donation[card_verification]": "required"
    },
    errorClass: "text-error",
    validClass: "text-success",
    submitHandler: function(form) {
      $("#donate_button").prop("disabled",true);
            var v = $('#donation_total_amount').autoNumeric('get');
            $('#donation_total_amount').autoNumeric('destroy');
            $('#donation_total_amount').val(v);
      form.submit();
    }    
  });
});
</script>