<section class="hgroup" id="about_us">
<div class="container">
    <h1>Donations</h1>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Users</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">
    <div class="row">
         <div class="col-md-12">

          <table class="table table-striped table-bordered">
            <tr>
              <th>User</th>
              <th>Amount in cents</th>
              <th>Billing address</th>
              <th>Billing city</th>
              <th>Billing state</th>
              <th>Billing zip</th>
              <th colspan="3">Actions</th>
            </tr>
          
          <% @donations.each do |donation| %>
            <tr>
              <td><%= donation.user.name %></td>
              <td><%= donation.amount_cents %></td>
              <td><%= donation.billing_address %></td>
              <td><%= donation.billing_city %></td>
              <td><%= donation.billing_state %></td>
              <td><%= donation.billing_zip %></td>
              <td><%= link_to 'Show', donation %></td>
              <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
              <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </table>

         </div>
    </div>
  </div>
</section>