<% if GATEWAY.test? %>
<div class="container">
  <div class="row">
    <br/>
    <div class="alert alert-danger">
      <h4 class="alert-heading">WARNING: DONATION FORM IN TEST MODE</h4>
      <p>The donation form is set to test mode, entering a real credit card number will not be processed.<br/>
      Use Test Card: 4111111111111111 :: 01/<%=(Date.today + 1.year).strftime("%Y")%> :: CVV 123</p>
    </div>
  </div>
</div>
<% end %>
<section class="hgroup" id="portfolio">
<div class="container">
    <h1>Make a donation</h1>
    <h2>Further the <strong>work</strong> of Edify through your financial <strong>generosity.</strong></h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Donate</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">

    <h3>Donation Information</h3> 
<%= render 'form' %>

</div>
</section>