<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @donation.user_id %>
</p>

<p>
  <b>Amount in cents:</b>
  <%= @donation.amount_cents %>
</p>

<p>
  <b>Billing address:</b>
  <%= @donation.billing_address %>
</p>

<p>
  <b>Billing city:</b>
  <%= @donation.billing_city %>
</p>

<p>
  <b>Billing state:</b>
  <%= @donation.billing_state %>
</p>

<p>
  <b>Billing zip:</b>
  <%= @donation.billing_zip %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
