<section class="hgroup" id="portfolio">
<div class="container">
    <h1>Thank you for your donation</h1>
    <h2>You are helping to further the <strong>work</strong> of Edify through your financial <strong>generosity.</strong></h2>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li><a href="/donate/new">Donate</a> </li>
         <li class="active">Thanks!</li>
    </ul>
</div>
</section>
<section class="article-text">
  <div class="container">

<div class="alert alert-success">
Credit card approved.
</div>
      <p>Thank you for your generous donation in support of the work of Edify.</p>
      
      <p>Your donation will help expand our programs in sustainable, affordable Christian schools in Ghana, Rwanda, 
      Burkina Faso, Liberia and the Dominican Republic.</p>
      
      <p>Kind Regards,</p>
      
      <p>The Edify Team</p>
      
      <strong>A receipt has been sent to your registered email address.</strong>
      
      <%= simple_format(@transaction.first.params["ctr"].sub("Purchase", "Donation")) %>
      
      <p><em>Edify is a 501(c)3 nonprofit organization, Federal Tax ID# 27-0892545<br/>
      No goods or services were received in consideration of this gift.</em></p>
      
      <p>Edify - 10590 W. Ocean Air Dr.,Ste 300 - San Diego, CA 92130 - toll free: 855-GO-EDIFY</p>

</article>
</section>

