<section class="hgroup" id="register">
<div class="container">
    <h1>Sign In</h1>
    <ul class="breadcrumb pull-right">
         <li><a href="/">Home</a> </li>
         <li class="active">Sign in</li>
    </ul>
</div>
<div class="row">
  <div class="signin col-md-6 col-md-offset-3">
    <div class="social_sign">
<h3>Please Log in</h3>
</div>
    <p class="sign_title">Log in with your {my}edify account</p>

          <div class="form col-md-6 col-md-offset-3">
            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-vertical"}) do |f| %>
            <%= f.text_field :email, :autofocus => true, :placeholder => "Email", :class=>"input-xlarge form-control" %>
            <%= f.password_field :password, :placeholder => "Password", :class=>"input-xlarge form-control" %>
            <div class="forgot">
              <% if devise_mapping.rememberable? -%>
              <label class="checkbox"><%= f.check_box :remember_me %> Remember me</label>
              <% end -%>    
            </div>
            <%= f.button :submit, "Sign in", :class => 'btn btn-primary btn-large' %>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
  </div>
</div>
</section>