.navbar a.navbar-brand {
  margin: 0px 0;
  padding: 0px;
  overflow: hidden;
  width: 315px;
}
.navbar a.navbar-brand img {
  margin: 0 6px 0 6px;
  width: 100px;
  height: 42px;
}

.navbar a.navbar-brand span.logo_title {
  font-size: 36px;
  font-weight: 300;
  display: block;
  padding: 10px 0 0px 0;
  line-height: 42px;
  text-shadow: 1px 1px 0px #ffffff;
}
.navbar a.navbar-brand span.logo_subtitle {
  font-size: 13px;
  font-weight: 300;
  display: block;
  text-shadow: 1px 1px 0px #ffffff;
}
#sign { right: 0px}
header {
  background: url(/images/backgrounds/wild_oliva_light_head.png);
  border-bottom: solid 1px #cccccc;
}
body, .main {
  background: url(/images/backgrounds/wild_oliva_light.png);
}
footer {
  background: url(/images/backgrounds/wild_oliva_dark.png);
}
#twitter_feed_wrapper {
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px #000000;
  border-top: solid 1px #000000;
  margin-top: 48px;
}
#twitter_feed_wrapper .twitter_feed_icon a {
  padding: 7px 0;
  font-size: 70px;
  display: block;
  text-align: center;
}
#twitter_feed_wrapper blockquote {
  margin: 11px 0;
  min-height: 60px;
}
#twitter_feed_wrapper blockquote p {
  font-size: 16px;
  margin-bottom: 3px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}