<footer>
  <section class="twitter_feed_wrapper">
       <div class="container">
            <div class="row wow animated fadeInUp">
                 <div class="twitter_feed_icon col-sm-1 col-md-1"><a href="#"><i class="fa fa-comments"></i></a></div>
                 <div class="col-sm-11 col-md-11">
                      <blockquote>
                        <% footer_quote = rand(10); if footer_quote == @quote_num then footer_quote += 1 end-%>
                          <p><%= get_quote(footer_quote)[:quote] %></p>
                          &mdash; <%= get_quote(footer_quote)[:quote_by] %></blockquote>
                 </div>
            </div>
       </div>
  </section>
  <section id="footer_teasers_wrapper">
       <div class="container">
            <div class="row">
                 <div class="footer_teaser col-sm-4 col-md-4">
                      <h3>Our Mission:</h3>
                      <p>To improve and to expand low-fee, Christ-centered education in the developing world.</p>
                      <p><i class="fa fa-map-marker"></i> 10590 W Ocean Air Dr., Ste. 300, San Diego, CA 92130</p>
                      <p><i class="fa fa-phone"></i> Toll Free: 855-GO-EDIFY</p>
                      <p><i class="fa fa-envelope"></i> info@edify.org</p>
                 </div>
                 <div class="footer_teaser col-sm-4 col-md-4">
                      <h3>Latest News</h3>
                      <ul class="media-list">
                           <li class="media"> <a href="#" class="media-photo" style="background-image:url(/assets/edify_logo_greybg_64x64.png)"></a> <a href="#" class="media-date"><%= Date.today.strftime("%e") %><span><%= Date.today.strftime("%^b") %></span></a>
                                <h5 class="media-heading"><a href="#">Edify launches an exclusive new site!</a></h5>
                                <p>The private beta for {my}edify has been launched to help connect our supporters to our work...</p>
                           </li>
                      </ul>
                 </div>
                 <div class="col-md-4 footer_teaser" id="">
                      <h3>Real-Time Prayer Feed</h3>
                      <% prayer_feed = UserAction.where(action_type: "prayer").order("created_at DESC").limit(2).all %>
                      <% prayer_feed.each do |prayer| %>
                      <% prayer.school_photo_file_name.blank? ? school_photo = "/assets/edify_logo_greybg_64x64.png" : school_photo = "http://s3.amazonaws.com/edifydb/thumb/#{prayer.school_id}/#{prayer.school_photo_file_name}" %>
                      <ul class="media-list">
                           <li class="media"> <a href="/home/show_schools/<%=prayer.school_id%>" class="media-photo" style="background-image:url(<%=school_photo%>)"></a> <a href="/home/show_schools/<%=prayer.school_id%>" class="media-date">JOIN<span>IN</span></a>
                                <h5 class="media-heading"><a href="/home/show_schools/<%=prayer.school_id%>"><%=prayer.school_name%></a></h5>
                                <p>Someone in <%=prayer.city%>, <%=prayer.state_code%> prayed for this school.</p>
                           </li>
                      </ul>
                      <% end %>
                 </div>
            </div>
       </div>
  </section>
  <section class="copyright">
     <div class="container">
          <div class="row">
               <div class="col-md-6"> Copyright &copy;<%= Date.today.strftime("%Y")%> all rights reserved.  Edify is a registered 501(c)3 Non-Profit Organization </div>
               <div class="col-md-6 text-right"></div>
          </div>
     </div>
  </section>
</footer>