<!doctype html>
<html class="no-js" lang="en">
<head>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/animate.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/js/woothemes-FlexSlider-06b12f8/flexslider.css" type="text/css" media="screen">
<link rel="stylesheet" href="/js/prettyPhoto_3.1.5/prettyPhoto.css" type="text/css" media="screen">
<link href="/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="/js/modernizr.custom.48287.js"></script>
    <title><%= content_for?(:title) ? yield(:title) : "{my}edify" %></title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Edify Donor" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= jquery_include_tag :google %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  <%= yield :jit_header %>
</head>

<body class="<%= controller_name %> <%= action_name %> collapsing_header">

<header>
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%#image_tag "edify_logo_black.png", height: 51, width:153%><span class="logo_title">{my} edify </span>
        <span class="logo_subtitle">A deeper engagement with Edify</span> </a><a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="nb_left pull-left"> <span class="fa fa-reorder"></span></span> <span class="nb_right pull-right">menu</span> </a>
      </div>
      <div class="collapse navbar-collapse">
      
            <%= render 'layouts/navigation' %>
      
      </div>
    </div>
    <% if user_signed_in? %>
      <div id="sign">
        <a href="#"><i class="fa fa-user"></i><span> Logged in as <%= current_user.name %></a>
        <%= link_to '<i class="fa fa-cog"></i>'.html_safe, edit_user_registration_path %> | 
        <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, destroy_user_session_path, :method=>'delete' %></span>
      </div>
    <% end %>
  </div>
</header>
