<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <br/>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %> alert-dismissable">
            <a class="close" data-dismiss="alert"><i class="fa fa-cross"></i></a>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
