<% if user_signed_in? %>
  <ul class="nav pull-right navbar-nav">
    <li><a href="/home/dashboard"><i class="fa fa-home"></i></a></li>
    <li class="dropdown"><a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i> My Portfolio <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
        <li role="presentation"><a href="/home/prayer_list"><i class="fa fa-fw fa-fire"></i> My Prayer List</a></li>
        <li role="presentation"><a href="/home/schools_visited"><i class="fa fa-fw fa-map-marker"></i> Schools I've Visited</a></li>
        <li role="presentation"><a href="/home/virtual_trip"><i class="fa fa-fw fa-globe"></i> Virtual Trip Itinerary</a></li>
        <li role="presentation"><a href="/home/my_fundraisers"><i class="fa fa-fw fa-bullhorn"></i> My Fundraisers</a></li>
        <li role="presentation"><a href="/home/impact_portfolio"><i class="fa fa-fw fa-dashboard"></i> My Impact Portfolio</a></li>
      </ul>
    </li>
    <li class="dropdown"><a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-compass"></i> Explore <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
        <li role="presentation"><a href="/home/list_schools"><i class="fa fa-group fa-fw"></i> All Schools</a></li>
        <li role="presentation"><a href="/home/map_schools"><i class="fa fa-map-marker fa-fw"></i> Map View</a></li>
        <li role="presentation"><a href="/home/recently_added"><i class="fa fa-certificate fa-fw"></i> Recently Added</a></li>
        <li role="presentation"><a href="/home/prayer_feed"><i class="fa fa-bolt fa-fw"></i> Global Prayer Feed</a></li>
      </ul>
    </li>
    <li><a href="/forums"><i class="fa fa-comments-o"></i> Discuss and Grow</a></li>
    <li><a href="/donations/new"><i class="fa fa-credit-card"></i> Donate</a></li>
    <% if current_user.has_role? :admin %>
    <li id="fat-menu" class="dropdown">
      <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
        <li role="presentation"><%= link_to 'User Admin', users_path, :role=>"menuitem", :tabindex=>"-1" %></li>
        <li role="presentation"><%= link_to 'Donations', donations_path, :role=>"menuitem", :tabindex=>"-1" %></li>
    </ul>
    </li>
    <% end %>
  </ul>

<% else %>
<ul class="nav pull-right navbar-nav">
  <li><%= link_to 'Sign in', new_user_session_path %></li>
</ul>
<% end %>
