<%= render 'layouts/header' %>

<section id="slider_wrapper" class="slider_wrapper container">
     <div id="main_flexslider" class="flexslider">
          <ul class="slides">
               <li class="item"  style="background-image: url(https://www.edify.org/wp-content/uploads/2012/12/2012.12.gh_.jpeg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>a <strong>new</strong> way you can be<br>
                                   involved in the work of <strong>Edify</strong></h1>
                              <p class="lead inverse">{my}edify is built to serve you.  Dig deeper into our work.</p>
                    </div>
               </li>
               <li class="item"  style="background-image: url(https://www.edify.org/wp-content/uploads/2012/12/2012.12.dr2_.jpeg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1><strong>prayer</strong> makes a difference<br>
                                   here and <strong>around the world</strong>!</h1>
                              <p class="lead inverse">Join us in prayer for the schools we serve.</p>
                         </div>
                    </div>
               </li>
               <li class="item"  style="background-image: url(https://www.edify.org/wp-content/uploads/2013/08/map.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="inverse"><strong>real</strong> schools<br>
                                   in real <strong>communities</strong></h1>
                              <p class="lead">Edify partner schools bring the love of Jesus Christ to their communities every day.</p>
                         </div>
                    </div>
               </li>
          </ul>
     </div>
</section>
<div id="main">
     <div class="container">
          <section class="call_to_action">
               <h3>focus on what's important</h3>
               <h4>and connect with Edify's work around the world</h4>
                 <% if !user_signed_in? %>
                   <%= link_to 'Sign in', new_user_session_path, :class=>"btn btn-primary btn-large" %>
                 <% end %>  
          <section id="features_teasers_wrapper">
               <div class="row">
                    
                    <div class="col-md-4 feature_teaser"> <i style="color:#039d23" class="fa fa-4x fa-fw fa-dashboard"></i><br/><br/>
                         <h3>Your Impact Portfolio</h3>
                         <p>Your donation goes to help fund loans and training for schools.  Learn more about the schools that have been impacted through your support.</p>
                    </div>
                    <div class="col-md-4 feature_teaser"> <i style="color:#157fb2" class="fa fa-4x fa-fw fa-globe inverse"></i><br/><br/>
                         <h3>Schools You've Visited</h3>
                         <p>Had the chance to visit our work personally?  Keep track of the schools you have personally visited. Haven't visited our work yet? Take a virtual trip!</p>
                    </div>
                    <div class="col-md-4 feature_teaser"> <i style="color:#d85006" class="fa fa-4x fa-fw fa-fire"></i><br/><br/>
                         <h3>Join us in Prayer</h3>
                         <p>Make a prayer list of the Edify Partner Schools and share your prayers publicly so that they may be encouraged and others can join in!</p>
                    </div>
               </div>   
          </section>


          <%= yield(:four_newest_schools) %>
          

     </div>
     
    <%= render 'layouts/footer' %>
</div> <!-- div#main -->

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.9.0.min.js"><\/script>')</script>
<script src="/twitter-bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/woothemes-FlexSlider-06b12f8/jquery.flexslider-min.js"></script>
<script src="/js/prettyPhoto_3.1.5/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/snap.svg-min.js"></script>
<script type="text/javascript" src="/js/restart_theme.js"></script>
<%= yield :scripts %>
<%= yield :footer_scripts %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18352775-4', 'myedify.org');
  ga('send', 'pageview');

</script>
</body>
</html>