<%= render 'layouts/header' %>
<section id="above_map" class="container">
  <%= render 'layouts/messages' %>
  <%= yield(:above_map) %>
</section>
  <%= yield %>
<div id="main" role="main">
  <div class="container">
    <div class="content">
       <div class="row">
        <div class="col-md-12">
          <%= yield(:below_map) %>
        </div>
      </div>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
<%= render 'layouts/footer' %>



